@use 'primitives' as p;

:root {
  --color-primary-bg: #{p.$color-blue-600};
  --color-primary-bg-hover: #{p.$color-blue-800};
  --color-primary-text: #{p.$color-zinc-100};

  --color-accent-bg: #{p.$color-yellow-400};
  --color-accent-text: #{p.$color-yellow-900};

  --color-highlight-bg: #{p.$color-pink-500};
  --color-highlight-bg-hover: #{p.$color-pink-600};
  --color-highlight-text: #{p.$color-zinc-100};

  --color-bg-surface: #{p.$color-white};
  --color-text-main: #{p.$color-zinc-900};

  --color-bg-app: #{p.$color-zinc-100};
  --color-border: #{p.$color-zinc-950};
}
