<table class="app-table">
  <thead class="app-table__head">
    <tr class="app-table__head-row">
      <th class="app-table__header-cell">Oryginalny url</th>
      <th class="app-table__header-cell">Skrócony link</th>
      <th class="app-table__header-cell">Akcje</th>
    </tr>
  </thead>
  <tbody class="app-table__body">
    <tr class="app-table__row">
      <td class="app-table__cell">
        https://wp.pl/dddddasdfaevatbstbhsdrthbdfhbdfhdfhdfhdfhdfhdfghdfghdf
      </td>
      <td class="app-table__cell">
        <span> https://vivo.pl/fsHtwvc </span>
        <span class="app-table__badge">Nowy</span>
      </td>
      <td class="app-table__cell">
        <button class="app-table__copy-btn" type="button">
          <svg lucideCopy class="app-table__copy-icon"></svg>
        </button>
      </td>
    </tr>
  </tbody>
</table>
