<table class="app-table">
  <thead class="app-table__head">
    <tr class="app-table__head-row">
      <th class="app-table__header-cell">Oryginalny url</th>
      <th class="app-table__header-cell">Skrócony link</th>
      <th class="app-table__header-cell">Akcje</th>
    </tr>
  </thead>
  <tbody class="app-table__body">
    @for (item of data(); track $index) {
      <tr class="app-table__row">
        <td class="app-table__cell">
          {{ item.originalUrl }}
        </td>
        <td class="app-table__cell">
          <span>{{ item.shortUrl }}</span>
          <span class="app-table__badge">Nowy</span>
        </td>
        <td class="app-table__cell">
          <button
            class="app-table__copy-btn"
            type="button"
            (click)="copyToClipboard(item.shortUrl)"
          >
            <svg lucideCopy class="app-table__copy-icon"></svg>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>
